<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"main","metadata":{"name":"Wrap"},"align":"wide","layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group alignwide"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">404 - Page Not Found</h1>
<!-- /wp:heading --></main>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->