<!-- wp:template-part {"slug":"header","area":"header","blockVisibility":{"visibilityPresets":{"operator":"atLeastOne","presets":[1744,1747],"hideOnPresets":true}}} /-->

<!-- wp:template-part {"slug":"header-clients","area":"header","blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"urlPath":{"contains":""},"location":{"ruleSets":[{"enable":true,"rules":[{"field":""}]}]}}}],"visibilityPresets":{"presets":[1744]}}} /-->

<!-- wp:template-part {"slug":"header-job-seekers","area":"header","blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"urlPath":{"contains":""},"location":{"ruleSets":[{"enable":true,"rules":[{"field":""}]}]}}}],"visibilityPresets":{"presets":[1747]}}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"metadata":{"name":"Wrap"},"align":"full","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull"><!-- wp:post-content {"align":"full","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->