<!-- wp:template-part {"slug":"header","area":"header","blockVisibility":{"visibilityPresets":{"operator":"atLeastOne","presets":[1763,1764],"hideOnPresets":true}}} /-->

<!-- wp:template-part {"slug":"header-clients","area":"header","blockVisibility":{"visibilityPresets":{"presets":[1763]}}} /-->

<!-- wp:template-part {"slug":"header-job-seekers","area":"header","blockVisibility":{"visibilityPresets":{"presets":[1764]}}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Section"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"metadata":{"name":"Wrap"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-date /-->

<!-- wp:post-content /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->