<!-- wp:template-part {"slug":"header","area":"header","blockVisibility":{"visibilityPresets":{"operator":"atLeastOne","presets":[1763,1764],"hideOnPresets":true}}} /-->

<!-- wp:template-part {"slug":"header-clients","area":"header","blockVisibility":{"visibilityPresets":{"presets":[1763]}}} /-->

<!-- wp:template-part {"slug":"header-job-seekers","area":"header","blockVisibility":{"visibilityPresets":{"presets":[1764]}}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Section"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"metadata":{"name":"Wrap"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","isUserOverlayColor":false,"contentPosition":"bottom center","isDark":false,"align":"full","style":{"border":{"radius":"8px"},"dimensions":{"aspectRatio":"16/9"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignfull is-light has-custom-content-position is-position-bottom-center" style="border-radius:8px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"metadata":{"name":"Content"},"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"border":{"radius":"8px"}},"gradient":"white-opacity-med","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"bottom"}} -->
<div class="wp-block-group alignwide has-white-opacity-med-gradient-background has-background" style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-title {"level":1,"fontSize":"h1"} /-->

<!-- wp:post-date /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:post-content /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"\u003cstrong\u003eTags:\u003c/strong\u003e ","fontSize":"small"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->