<!-- wp:template-part {"slug":"header-clients","area":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Main"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<section class="wp-block-group"><!-- wp:group {"metadata":{"name":"Wrap"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","justifyContent":"left","wideSize":"720px"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-title {"level":1,"align":"wide","fontSize":"display-medium"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->