.ag-branch .ag-branch__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ag-branch .ag-branch__list a {
  text-decoration: none;
}

.ag-branch .ag-branch__list-spacer {
  margin-bottom: 0.5rem;
}
